{% extends "base.html" %}

{% block title %}Computer Friendly - About{% endblock %}

{% block content %}

<div class='about-header'>
    <h1>Como chegamos até aqui?</h1>
    <p>O projeto nasceu a partir de um desafio durante um curso.<br>
    Ainda estávamos sofrendo com as medidas restritivas por conta da pandemia de COVID-19, iniciada em março de 2020 e a necessidade de permanecermos em casa ganhava contornos dramáticos.<br>
    Assim, após o afrouxamento das medidas restritivas, a cidade voltou a ter cor, vida. As pessoas retornaram às atividades e, pouco a pouco, a vida foi retomando a normalidade (Há quem acredite que nunca mais voltaremos ao cenário pré-pandemia...).<br>
    Neste novo(antigo) cenário, nova(antiga) cidade, nova profissão, passei a preencher meus dias com estudos nos mais diversos locais: praças ⛲️, bibliotecas 📚, clube 🎾, universidade 🏫, shopping 🛍, autocarros 🚌 (é...), comboios 🚈 (e esse?) e os cafés ☕️.<br>
    Ah os cafés. Pra todos os bolsos e gostos. Todos necessários. Todos com suas natas, abatanados, éclairs e por aí vai...<br>
    Assim, trazer esse novo hábito para a nova profissão não foi esforço nenhum.<br>
    Aqui procuro conhecer e indicar (apenas indicar. Não avaliar) locais que dispõem de alguns itens relevantes para quem procura um café com um computador a tiracolo.<br>
    Espero que gostem, aproveitem e participem indicando locais para bons cafés e amigos de computadores.</p>
</div>

{% endblock %}