{% extends "base.html" %}

{% block title %}Computer Friendly - Cafes List{% endblock %}

{% block content %}

<h1>Which one do you choose for today?</h1>

<table class="cafe-table">

  <tr>
    <td class="cafe-head">Name</td><td class="cafe-head">Map Link</td><td class="cafe-head">City</td><td class="cafe-head">Opening Time</td><td class="cafe-head">Closing Time</td><td class="cafe-head">Coffee Rating</td><td class="cafe-head">Wifi</td><td class="cafe-head">Power</td>
    {% for cafe in cafes %}
    <tr>
      {% for column in cafe[1:] %}
        {% if column[:4] == 'http' %}
          <td class="cafe-fields"><a href="{{ column }}">Map Link</a></td>
        {% else %}
          <td class="cafe-fields">{{ column }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tr>

</table>

{% endblock %}
