{% extends "base.html" %}

{% block title %}Computer Friendly - Braga{% endblock %}

{% block content %}

<h1>☕️ Cafes Computer Friendly</h1>

  {% if weather_id < 600 %}
    <div class="weather-temp">
      <h1 class="icons">🌧</h1>
      <h2>{{ temperature }} °C</h2>
    </div>
    <h3>Find a protected place to dive deep into your studies, enjoying the rain sounds...</h3>

  {% elif 600 < weather_id < 700 %}
    <div class="weather-temp">
      <h1 class="icons">❄️</h1>
      <h2>{{ temperature }} °C</h2>
    </div>
    <h3>Find a warm place to study, enjoying coffee and hot chocolate</h3>

  {% elif 700 < weather_id < 800 %}
    <div class="weather-temp">
      <h1 class="icons">🌫 🌁</h1>
      <h2>{{ temperature }} °C</h2>
    </div>
    <h3>Probably we can not see the sky. Are the clouds on the ground?</h3>

  {% elif weather_id == 800 %}
    <div class="weather-temp">
      <h1 class="icons">☀️ 🌙</h1>
      <h2>{{ temperature }} °C</h2>
    </div>
    <h3>Good weather for the terraces and open spaces, enjoy it!</h3>

  {% elif weather_id > 800 %}
    <div class="weather-temp">
      <h1 class="icons">🌥</h1>
      <h2>{{ temperature }} °C</h2>
    </div>
    <h3>Up to you! The sky is not clear, but it is not raining. Do you prefer inside or outside?</h3>

{% endif %}

<h4>current weather for - {{ city_name }} ({{ country }})</h4>
<div class="change-location">
  <p><a href="{{ url_for('change_location')}}">Change location</a></p>
</div>
<div>
    <a href='{{ url_for("cafes") }}'><input class="button" type="button" value="Check it out the dreams list"></a>
</div>
<div class='includeCafe'>
    <h5>Do you want to include your Cafe? Click <a href='{{ url_for("contact") }}'>here</a>, fill the form and I will make a visit.
    </h5>
</div>

{% endblock %}
